.circleFixedButton{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 20px;
    background-color: #055c9d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
}


@media (max-width: 992px) {
    .collapse1 {
    display: none;
    }
    .collapse1.show {
    display: block;
    }
}

@media (min-width: 992.02px){
    .collapse1{
        display: block !important; 
    }
}

@media (max-width: 576px){
    body{
        font-size: 0.9rem;
    }
}

.bg-blue{
    background-color: #055c9d;
    color: white;
}


